#
# Copyright (C) 2016 Sony Mobile Communications Inc.
# All rights, including trade secret rights, reserved.
#

#
# init.sony-idd-variant.rc
#

on fs
    exec /vendor/bin/rm -r /idd/lost+found
    exec /vendor/bin/rm -r /rca/lost+found
